.contact-details-header {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.contact-details-header a:not(:last-child) {
  margin: 0 10px 0 0;
}

.contact-details .contact-details-row {
  margin: 10px;
}

.moves-list-container, .transter-coins-container {
  margin: 20px 0;
}

.contact-details-btns {
  display: flex;
  justify-content: space-between;
}

.contact-details-wrapper {
  max-width: 300px;
  padding: 0 20px;
  margin: 0 auto;
}