.contact-edit-rows {
    display: flex;
    flex-direction: column;
}

.contact-edit-rows .contact-edit-row {
    margin: 10px;
}

.contact-edit-wrapper {
    max-width: 300px;
    padding: 0 20px;
    margin: 0 auto;
  }